* {
  margin: 0;
  padding: 0;
}

#igs {
  margin: 0 auto;
  width:728px;
  height: 500px;
  position: absolute;
  left: 250px;
  top: 12px;

}

.ig {

  position: absolute;
}



#tabs {
  position: absolute;
  list-style: none;

  left: 270px;
  bottom: 34px;
  border-radius: 1px;
  padding: 5px 0 5px 5px;
}
#tabs li{
  float: left;
}



.tab{
  
  text-align: center;
  line-height: 20px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  overflow: hidden;
  margin-right: 4px;
  border-radius: 100%;
  background-color: #808080;
}
.tab:hover{
  background-color:#fff; 
}

.btn{
  position: absolute;
  color: #fff;
  top: 170px;


  width: 40px;
  height: 100px;
  background-color: rgba(255,255,255,.3);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  border-radius: 5px;
  margin: 0 5px;
}
.btn1{
  position: absolute;
  left: 6px;
}

.btn2{
  position: absolute;
  right: -16px;
}

.btn:hover{
  background-color: rgba(0,0,0,.7);
}
