/*公共样式--开始*/

html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

ul,
ol {
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #232323;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

textarea {
    outline: none;
    border: none;
}

textarea {
    resize: none;
    overflow: auto;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow: hidden;
}

.fl {
    float: left
}

.fr {
    float: right
}

.tl {
    text-align: left;
}

.tc {
    text-align: center
}

.tr {
    text-align: right;
}

.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.inline {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}


/*上面的是默认样式*/

.top {
    width: 70%;
    height: 46px;
    margin: 0 auto;
    background-color: #f3f5f7;
}

a {
    line-height: 46px;
    margin: 10px;
}

.leftM {
    float: left;
}

.rightM {
    float: right;
}

hr {
    clear: both;
}

.redlogin {
    color: red;
}


/*给请登入设置为红色*/


/*下面的是logo区样式*/

.logo {
    width: 70%;
    height: 130px;
    margin: 0 auto;
    background-color: #f4f5f9;
    margin-top: 1px;
    position: relative;
}

.logoArea {
    line-height: 130px;
    margin-left: 20px;
}

.search {
    position: absolute;
    left: 22%;
    top: 42px;
}

.searchArea {
    width: 600px;
    height: 46px;
}

.submitArea {
    width: 74px;
    height: 46px;
    margin-left: 0;
    background: #07111b;
    color: #ffffff;
    margin-left: -4px;
    border: #07111b;
}

.shopCar {
    width: 160px;
    height: 46px;
    background: #f00;
    color: #fff;
    position: absolute;
    left: 80%;
    top: 42px;
}

span {
    margin: 3px;
    line-height: 46px;
}


/*下面是导航区样式*/

.nav {
    width: 100%;
    height: 50px;
    background: #07111b;
    position: relative;
}

.shop-c {
    width: 250px;
    height: 66px;
    line-height: 66px;
    background: #f00;
    color: #fff;
    position: absolute;
    left: 15%;
    top: -6px;
    font-size: 20px;
    padding-left: 10px;
}

.navList {
    position: absolute;
    left: 30%;
}

.navList li {
    float: left;
    color: #fff;
    font-size: 16px;
    line-height: 50px;
    margin: 0 20px
}

.navList ul li a {
    color: #fff;
}


/*下面是banner区的样式*/

.banner {
    width: 70%;
    height: 500px;
    margin: 6px auto;
    position: relative;
}

.leftSide {
    width: 250px;
}

.leftSide li {
    background: #f00;
    height: 34px;
}

.leftSide li a {
    color: #fff;
    font-size: 16px;
}


/*下面是banner区右边栏的样式*/

#redmuke {
    font-size: 18px;
    color: #f00;
}

.rightSide {
    width: 322px;
    height: 476px;
    position: absolute;
    left: 75%;
    bottom: 12px;
    border: 1px solid #d9dde1;
}

.RS-up {
    margin-top: -10px;
}

.RS-up li {
    height: 18px;
}

.RS-middle {
    margin-top: 14px;
}

.RS-middle li {
    width: 80px;
    height: 80px;
    float: left;
    border-top: 1px solid #d9dde1;
    border-right: 1px solid #d9dde1;
}

.RS-middle li a {
    display: block;
}

.RS-middle li a img {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
}

.RS-middle li a span {
    display: block;
    text-align: center;
}


/*下面是楼层区样式*/

.layer {
    width: 70%;
    margin: 40px auto;

}

.f1 ul li {
    float: right;
    font-size: 16px;
    color: #808080;
}

.f1 {
    margin-bottom: 20px;
}

.f1 span {
    float: left;
    margin-left: 20px;
}

.layer-1 {
    display: block;
    font-size: 22px;
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 20px;
}

.layer-2 {
    font-size: 30px;
    font-weight: 900;
}


/*下面是商品盒子样式*/

.container-goods {
    width: 16%;
}

.container ul li {
    clear: both;
    width: 100%;
}

.container-goods {
    float: left;
    display: inline;
    margin-left: 8px;
    margin-top: 18px;
}

#picture img {
    display: block;
    margin: 0 auto;
}

#goods {
    margin-top: 18px;
    font-size: 14px;
    text-align: center;
}

#price {
    text-align: center;
    color: #f00;
}

a:hover {
    color: #ff0000;
}



.linkBox {
    width: 25%;
    float: left;
    margin-top: 30px;
}

.linkBox li a {
    font-size: 14px;
    color: #808080;
}

.footer {
    clear: both;
    width: 100%;
    height: 60px;
    background: #f4f5f9
}

.footer p {
    text-align: center;
}
/*下面是侧边栏样式*/
.R-side{
   position: fixed;
   top: 50%;
   right: 0px;
   margin-top: -88px;
   cursor: pointer;
}
.R-side span{
    display: block;

}
#show{
    width: 34px;
    height: 35px;
    background:#b7bbbf;
    position: relative;
   
}
#hidden{
    width:110px;
    height: 35px;
    background:#71777d;
    display: none;
}


.R-side-icon:hover #hidden{
    display:inline-block;
}
.R-side-icon:hover #show{
    display: none;
}
#returnTop{
    display: block;
    margin-top:-1px;
    margin-left:0px;
}
/*这是遮罩层样式*/
.layer-mask{
    display: none;
    z-index: 2017;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;

}
/*弹出层窗体*/
.layer-pop
{
    display: none;
    z-index : 100000;
    position: fixed;
    top : 0;
    left : 0;
    right : 0;
    bottom: 0;
    margin: auto;

    width: 400px;
    height: 300px;
    background: #fff;
}
/*弹出层关闭按钮*/
.layer-close
{
    float :right;
    width: 24px;
    height: 24px;
    border: 3px solid #fff;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    background: #eee;

    margin-right: -12px;
    margin-top:-12px; 
}
.layer-close:hover
{
    cursor: pointer;
    background: #ccc;
    color: #fff;
}
