* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #232323;
}


/*top css*/

.top {
    width: 100%;
    height: 120px;
    background-color: #f3f5f7;
}

.topArea {
    width: 70%;
    height: 40px;
    margin: 0 auto;
}
#loginIn{
    color: #f00;
}

.topArea li {
    line-height: 40px;
    margin-left: 16px;
}

.topLeft li {
    float: left;
}

.topRight li {
    float: right;
}

hr {
    clear: both;
}

.logoArea {
    width: 70%;
    height: 80px;
    margin: 0 auto;
    position: relative;
}

.logo {
    margin-top: 16px;
}

.search {
    position: absolute;
    top: 0;
    left: 360px;
}

.searchArea {
    width: 500px;
    height: 34px;
    border: 1px solid #000;
    margin-top: 9px;
}

.searchBtn {
    width: 50px;
    height: 36px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    border: none;
    position: absolute;
    top: 9px;
    left: 502px;
}
.shopCar{
    position: absolute;
    top: 9px;
    right: 60px;
    width: 180px;
    height: 36px;
    background-color: #f00;

}
.shopCar span{
    color: #fff;
    margin-left: 10px;
    margin-top: 10px;

}

